.preloader {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f5f6f7;
	padding: 80px 0;
}

.preloader__text {
	font-family: 'Roboto', Arial, sans-serif;
	color: #b6bcbf;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	margin: 0;
	margin-top: 16px;
	max-width: 340px;
}
.preloader__circle {
	display: block;
	width: 74px;
	height: 74px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-left: none;
	border-radius: 50%;
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ffffff, #888);
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-repeat: no-repeat;
	background-size: contain;
	animation: spin 1.5s infinite linear;
}

@media screen and (max-width: 768px) {
	.preloader {
		padding: 40px 0;
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
